<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mời bạn đăng nhập</title>
</head>
<body>
    <%- body %> 
</body>
</html>

<style>body{
    overflow-x: hidden;
    /* background-color:var(--mainColor); */
    background-image: url("https://cdna.artstation.com/p/assets/images/images/052/356/006/large/rudy-mansilla-panaca.jpg?1659576754");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }</style>